$animate: all 0.5s ease-in-out;

.nav {
  padding: 2rem 0;

  .container {
    display: flex;
    justify-content: flex-end;
  }

  &__item {
    color: $dark-blue-text;
    padding: 0 2rem;

    &.nav-active,
    &:hover {
      background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      // Responsive text purple style
      @include respond(phone) {
        background-image: none;
        -webkit-text-fill-color: $secondary-color;
      }
    }
  }
}

.nav-static-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
